<div id="layout">
	<div id="main">
		<div class="header">
			<h1>{{issue.title}}</h1>
		</div>
		<div class="content">
			<h3 class="content-subhead">Issue Description</h3>
			<p> {{issue.description}} </p>
			<h3 class="content-subhead">Before you support..</h3>
			<p>
				When you support this issue, a dialog will open which will allow you to send Ether to the address specified.
			</p>
			<button class="pure-button pure-button-primary" (click)="supportIssue(issue)">Support Issue</button>
		</div>
	</div>
</div>