	<div class="banner">
		<h1 class="banner-head">
			Open and safe<br>political action	
		</h1>
	</div>

	<div class="l-content">
		<div class="pricing-tables pure-g">
			<div class="pure-u-1 pure-u-md-1-3" *ngFor="let issue of issues">
				<div class="pricing-table pricing-table-biz pricing-table-selected">
					<div class="pricing-table-header">
						<h2>{{issue.title}}</h2>

						<span class="pricing-table-price">
							.001 Ξ <span>minimum pledge</span>
						</span>
					</div>

					<ul class="pricing-table-list">
						<li>{{issue.description}}</li>
					</ul>

					<button class="button-choose pure-button" (click)="onSelect(issue)" [routerLink]="['/issue/view', issue.id]">Support</button>
				</div>
			</div>
    </div> <!-- end pricing-tables -->

    <div class="content">
    	<div class="pure-g">
    		<div class="pure-u-1-1" style="text-align: center">
    			<button class="pure-button pure-button-primary" routerLink="/issue/new">Create a new issue</button></div>
    	</div>
    </div>
