html, body {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;  
  width: 100%;
}

.main-component {
  display: flex;
  justify-content: space-between;
  width: auto;
  margin: 10px 20px;
}

